/* Global Styles */
body {
    background-color: white; /* or any other color */
}



.header {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    padding: 10px;
    font-size: 24px;
}
span {
    padding: 10px 20px;
    font-size: 1.2em;
    color: rgb(34, 100, 242);
    font-weight: bolder;
}
.create-container {
    background-image: url(../../../public/images/strength-training-vs-cardio.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}


.button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

/* Components */
.box {
    width: 150px;
    height: 150px;
    margin: 20px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease;
}

.box:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}


.select {
    font-size: 1.2em;
    padding: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    appearance: none;
    background-color: #f8f8f8;
    color: #444;
    cursor: pointer;
}

.select, input, .button {
    margin: 10px;
}
