.profile {
  display: flex;
  color: #001f3f; /* Navy blue text */
  font-family: Arial, sans-serif; /* Use a legible font */
  padding-top: 20px; /* Push content down */
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 40px; /* Larger font size for headings */
  font-weight: bold; /* Bold font for headings */
  color: rgb(226, 49, 49); /* Set the text color to white */
  background-color: rgba(0, 0, 0, 0.5); /* Add a background color with the same transparency as the overlay */
  padding: 10px; /* Add padding to improve readability */
  border-radius: 8px;
}

.text {
  font-size: 22px; /* Standard font size for text */
  text-align: center;
  color: rgb(67, 211, 31); /* Set the text color to white */
  background-color: rgba(0, 0, 0, 0.5); /* Add a background color with the same transparency as the overlay */
  padding: 10px; /* Add padding to improve readability */
  border-radius: 8px;
}

h1 {
  margin: 0;
  padding: 0;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.outline {
  display: flex;
  padding: 5px;
  border-style: solid;
  border-radius: 25px;
  margin: 5px;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); 
}
.outline li {
  color: #ff0000; /* Red color for <li> text */
}

.outline p {
  color: #00ff00; /* Green color for <p> text */
}

.logout {
  position: absolute;
  top: 10px; 
  right: 10px; 
  color: white;
  cursor: pointer;
  font-size: 14px; 
  
}