/* ViewHistory.scss */

.header {
    background-color: #333;
    padding: 10px;
  }
  
  .header a {
    color: white;
    text-decoration: none;
  }
  .logout {
    position: absolute;
    top: 10px; /* Adjust the top value based on your preference */
    right: 10px; /* Adjust the right value based on your preference */
    color: white;
    cursor: pointer;
    font-size: 14px; 
    
  }

  .history-container {
    background-image: url('../../../public/images/viewHistorytrail.jpg'); /* Replace with the actual path to your image */
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    
  }
  
  .history-container::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .history-container h1,
  .history-container h2,
  .history-item p {
    position: relative;
  z-index: 2;
  color: white; /* Set the text color to white */
  background-color: rgba(0, 0, 0, 0.5); /* Add a background color with the same transparency as the overlay */
  padding: 10px; /* Add padding to improve readability */
  border-radius: 8px;
  }
  
  .history-container h1 {
    color: rgb(212, 64, 11);
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center; /* Center the text */
  }
  
  h2 {
    color: rgb(64, 241, 9);
    font-size: 1.6rem;
    margin-top: 20px;
  }
  
  .history-columns {
    display: flex;
    justify-content: space-around;
  }
  
  .history-column {
    width: 45%;
  }
  
  .history-item {
    margin-bottom: 20px;
  }
  
  .history-item p {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }
  p{
    color: argb(255, 0, 38)
    
  }